body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

/*p {
    font-family: verdana;
    font-size: 20px;
}*/

.error-message {
  display: none;
  color: red;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }
